{% extends 'base.html' %}

{% block content %}

<div class="col-md-4">
    <h2>Singles Rankings</h2>
      {% if singles_ranking %}
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Player</th>
            <th>Rating</th>
            <th>Wins</th>
            <th>Losses</th>
          </tr>
          </thead>
          <tbody>
        {% for player in singles_ranking %}
          <tr>
              <td><a href="{% url 'foos:player' player.id %}">{{player.name}}</a></td>
              <td>{{player.rating}}</td>
              <td>{{player.singles_wins}}</td>
              <td>{{player.singles_losses}}</td>
          </tr>
        {% endfor %}
          </tbody>
        </table>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}