<!DOCTYPE html>
<style>
    #container {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        align-items: middle;
        text-align: center;
        
        
    }
     h1 {
        position: relative;
        text-align: center;
    }
</style>

<title>Select league</title>

<head>
    <div class="fixed-top">
        <div class="container-fluid">
        <h1 style="font-family:sans-serif;"><b>Please select a league.</b></h1>

    </div>
</head>
<body>
    <center>
            <div class = "d-flex justify-content-center">
            <a href="Leaderboards/MTGLeaderboards.html">
                <img src="https://raw.githubusercontent.com/nnnolan/ELORanking_GalacticSaber/main/124-1241406_planeswalker-symbol-png-plains-magic-card-symbol-magic%20(1).png" height="200"/>
            <a href="Leaderboards/LightsaberDuels.html">
                <img src="https://raw.githubusercontent.com/nnnolan/ELORanking_GalacticSaber/main/GSEmblem_FullColor%20(2).png" height="200"/>
                
            </a>
    </center>
</body>