<!DOCTYPE html>
<style>
    h2 {
        margin-left: 35%;
    }
    h3 {
        margin-left: 55%;
    }
     h1 {
        margin-left: 35%;
        margin-top: 2%;
    }
</style>

<head>
    <div class="fixed-top">
        <div class="container-fluid">
        <h1 style="font-family:sans-serif;"><b>Please select a league.</b></h1>

    </div>
</head>
<body>
    <h2 href="#">
        <div class="container-fluid">
        <img src="https://raw.githubusercontent.com/nnnolan/ELORanking_GalacticSaber/main/124-1241406_planeswalker-symbol-png-plains-magic-card-symbol-magic%20(1).png" height= "200" />
    </div>
    </h2>
    <h3 href="#">
        <div class="container-fluid">
        <img src="https://raw.githubusercontent.com/nnnolan/ELORanking_GalacticSaber/main/124-1241406_planeswalker-symbol-png-plains-magic-card-symbol-magic%20(1).png" height= "200" />
    </div>
    </h3>
</body>